.header {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    color: gray;
}

.header__logo {
    color: inherit;
    text-decoration: none;
}

.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.hero__container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(290px, 1fr));
    grid-gap: 20px;
}

.hero__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__title {
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 1.1;
}

.hero__subtitle {
    font-size: 32px;
    font-weight: 400;
}

.hero__link {
    display: flex;
}

.hero__links {
    margin-right: 10px;
    font-size: 30px;
    color: #000;
    transition: color 0.3s;

    &:hover {
        color: #fb88ff;
    }
}

.hero__box {
    max-width: 400px;
    justify-self: center;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    border: 10px solid #fff;
    
    animation: ava-animate 5s infinite alternate;
}

.hero__box-img {
    animation: ava-bg 3s infinite alternate;
}

@keyframes ava-animate {
    0% {
        border-radius: 42% 58% 75% 25% / 17% 20% 80% 83% ;
    }    
    40% {
        border-radius: 70% 30% 21% 79% / 45% 53% 47% 55%   ;
    }    
    60% {
        border-radius: 65% 35% 81% 19% / 20% 11% 89% 80%   ;
    }    
    100% {
        border-radius: 70% 30% 43% 57% / 92% 29% 71% 8%     ;
    }
}

@keyframes ava-bg {
    from {
        backdrop-filter: hue-rotate(0);
    }
    to {
        backdrop-filter: hue-rotate(90deg);
    }
}
@media screen and (max-width: 978px) {
    .hero {
      padding-top: 30px;
    }
  
    .hero__container {
      grid-row-gap: 20px;
    }
  
    .hero__title {
      font-size: 28px;
      margin-bottom: 10px;
    }
  
    .hero__subtitle {
      font-size: 22px;
      font-weight: 400;
    }
  
    .hero__description {
      font-size: 14px;
    }
  
    .hero__about {
      text-align: center;
    }
  
    .hero__links {
      justify-content: center;
    }
  
    .hero__box {
      max-width: 350px;
      justify-self: center;
    }
  }